In [1]:
import pandas as pd
import os
os.getcwd()

'/Users/ugp/DSI-CHI-1/projects/weekly-projects/project-02/starter-code'

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
#2hat is the average beer servings across all coutnries

drinks.beer_servings.mean()

106.16062176165804

In [20]:
#filtrers the dataframe by continte

drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [33]:
#this is what it does
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [22]:
#"for each contitnent, what is the beer servings mean
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [26]:
drinks.groupby('continent').beer_servings.max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [18]:
drinks.groupby('continent').beer_servings.min()

continent
Africa            0
Asia              0
Europe            0
North America     1
Oceania           0
South America    93
Name: beer_servings, dtype: int64

In [12]:
drinks.groupby('continent').beer_servings.agg(['count', 'min', 'max', 'mean'])

               count  min  max        mean
continent
Africa            53    0  376   61.471698
Asia              44    0  247   37.045455
Europe            45    0  361  193.777778
North America     23    1  285  145.434783
Oceania           16    0  306   89.687500
South America     12   93  333  175.083333